@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

// variables
$color-font: #777;
$color-font-dark: #444;
$color-font-black: #222;
$color-background: #2f3236;
$color-border: #e5e5e5;

$color-blue: #39c;
$color-blue-dark: #0f3e62;
$color-orange: #f09632;
$color-orange-dark: #cd832b;

$border-radius: 3px;

//######################################################################################################################
// #RESET#
body { color:$color-font; font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300; margin:0; background:$color-background; }

h1, h2, h3, h4, h5, h6 { color:$color-font-dark; margin:0 0 10px; }
p, ul, ol, table, pre, dl { margin:0 0 10px; }
h1, h2, h3 { line-height:1.1; }

h1 { font-size:28px; font-weight:300; margin:0 0 20px; }
h2 { color:$color-font-black; }
h3, h4, h5, h6 { color:$color-font-dark; }
h4 { margin:0 0 5px; }

a { color:$color-blue; font-weight:400; text-decoration:none; }
a:hover { color:black; }
a small { font-size:11px; color:$color-font; margin-top:-0.6em; display:block; }
blockquote { font-style:italic; padding:0 0 0 20px; margin:0; border-left:1px solid $color-border; }
code, pre { font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, serif;
    color:$color-font-dark; font-size:12px; }
pre { padding:8px 15px; @include border-radius($border-radius); border:1px solid $color-border; background: white; }
code { font-size:11px; padding:1px 4px; margin:0 0 4px; display:inline-block; @include border-radius($border-radius);
    border:1px solid $color-border; background:white; }

a code { color:$color-blue; }
a:hover code { color:black; }

table { width:100%; border-collapse:collapse; border-top:1px solid $color-border; }
th, td { text-align:left; padding:4px 0 5px; border-bottom:1px solid $color-border; }

dt { color:$color-font-dark; font-weight:700; }
th { color:$color-font-dark; }
img { max-width:100%; }

strong { color:$color-font-dark; font-weight:400; }
small { font-weight:200; color:$color-font; font-size:12px; padding-left:10px; }

hr { height:1px; margin:10px 0; border:0; background:$color-border; }

//######################################################################################################################
// #HELPERS#
.clear { clear: both; display: block; overflow: hidden; }
.nospace { margin:0; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-center { text-align:center; }
.spacer { height:15px; margin:0; overflow:hidden; }
.nowrap { white-space:nowrap; }
.relative { position:relative; }

//######################################################################################################################
// #CUSTOM#
header { background:$color-blue-dark; clear:both; overflow:hidden;
    h1 { display:block; color:white; text-shadow:0 1px 0 black;
        padding:30px 0 35px; margin:0 auto; position:relative; left:-8px; }
    h1 a { color:white; font-weight:300; text-decoration:none !important; }
    h1 a:hover { color:#f5f5f5; }
}
section { background:#f5f5f5 url('../img/bg.png'); }
section .inner { padding:30px 0 20px; margin:0 auto; }
footer { background:#2f3236; }
footer p { font-size:12px; color:#bfbfbf; text-align:center; padding:10px 0; margin:0; }

form {
    fieldset { padding:8px 12px; margin:0 0 10px; background:white; border:1px solid $color-border; @include border-radius($border-radius); }
    label { cursor:pointer; font-size:13px; }

    input[type="file"] { padding:2px; }
    select { width:200px; height:24px; background:#fff; }

    .uniform-select, .uniform-file { margin-left:5px !important; position:relative; top:-2px; }
    .uniform-radio, .uniform-checkbox { position:relative; top:-1px; margin-right:5px; }

    fieldset div { padding:5px 0 0; }
}

.logo { font-size:28px; font-weight:300; padding:0 8px 4px; margin-right:8px; color:$color-font; @include border-radius($border-radius);
    text-shadow:0 1px 0 #eee; background:white; @include transition(background 200ms);
    &:hover, &:active, &:focus { color:black; text-shadow:0 1px 0 white; background:#f5f5f5; }

    .dot { color:$color-blue; }
    .ext { color:black; }
}

.box { float:left; padding:5px; margin:0 10px 10px 0; line-height:0; width:105px;
    @include border-radius($border-radius); box-shadow: 0 0 1px #ccc; background:white;
    &:hover { background:$color-blue; -webkit-transition:background 500ms; }
    &:hover span { color:white; }

    span { display:block; font-size:12px; line-height:12px; padding:5px 2px 2px; }
    .strong { color:$color-font-dark; }
}

// #CUSTOM/buttons#
.buttons {
    padding-left:10px; font-size:0; position:relative; top:-1px;

    .btn { font-size:11px; line-height:11px; font-weight:200; color:white;
        padding:4px 5px 5px; border-right:1px solid white; background-color:$color-blue;
        @include inline-block(); @include transition(background 200ms);

        &:hover, &:active, &:focus { color:white; background:$color-blue-dark; }

        &:first-child { @include border-radius($border-radius 0 0 $border-radius); border-right:1px solid white; }
        &:last-child {  @include border-radius(0 $border-radius $border-radius 0); }
        &:only-child {  @include border-radius($border-radius); }

        strong { color:white; font-weight:400; }
    }

    .btn-dark { background:$color-font-dark; }
    .btn-dark:hover { background:black; }
    .btn-highlight { background:$color-orange; }
    .btn-highlight:hover { background:$color-orange-dark; }
}
.buttons-icon { display:inline-block; position:relative; top:0; width:20px; }
.buttons-icon .icon-github { position:absolute; right:0; top:-14px; }

.btn-large { font-size:16px; color:white; font-weight:200; padding:8px 15px 10px;
    background:$color-blue; @include border-radius($border-radius); }
.btn-large:hover { color:white; background:$color-blue-dark; }

// #CUSTOM/icons#
.icon-github { display:inline-block; width:20px; height:20px; background:url('../img/icon-github.png') no-repeat left top; }
.icon-github:hover { background-position:left -20px; }

// #CUSTOM/responsive#
header h1, section .inner { padding-left:20px; padding-right:20px; }

//######################################################################################################################
// #MEDIA#
@media screen and (min-width: 540px) {
    header h1, section .inner { width:500px; padding-left:0; padding-right:0; }

    .col-two { float:left; width:48%; padding-right:2%; }
    .col-last { padding:0 0 0 2%; }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    .icon-github { background-image:url('../img/icon-github@2x.png'); background-size:20px; }
}
