@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright   Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables

// required styles
.accordion {
    .trigger { cursor:pointer; }
}

// custom styles
.accordion {
    .trigger { font-size:14px; line-height:18px; color:#39c; padding:8px 12px; margin:0;
        border-bottom:1px solid #e5e5e5; background:white; }
    .trigger a { display:block; background:no-repeat right center; }

    .container { background:white; }
    .container-padding { padding:12px 12px 8px; border-bottom:1px solid #39c; }

    .expanded a { background-image:url('../static/img/arrow-up.png'); }
    .collapsed a { background-image:url('../static/img/arrow-down.png'); }

    .text { color:#ccc; font-weight:200; }
}