@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables
$carousel-font-size: 12px;
$carousel-line-height: 12px;

// required styles
.carousel {
	position:relative; z-index:100;

	.wrapper { position:relative; z-index:100; width:100%; overflow:hidden; }

	.viewport { position:absolute; left:0; top:0; @include clearfix(); height:auto;
		list-style-type:none; padding:0; margin:0; width:9999em; }
	.viewport li { float:left; padding:0; margin:0; }

	.trigger-next, .trigger-previous { padding:0; margin:0; }
}

// custom styles
.carousel {
	margin:0 0 20px;

	.trigger-next, .trigger-previous { position:absolute; top:50%; z-index:101;
		font-size:$carousel-font-size; line-height:$carousel-line-height;
		margin-top:-10px; background:rgba(black, 0.6); }
	.trigger-next { right:0; }
	.trigger-previous { left:0; }
	.trigger-next a, .trigger-previous a { float:left; padding:4px;
		&:hover { color:white;} }

	.viewport li { width:105px; padding:5px; margin-right:10px; line-height:0; background:white;
		@include border-radius(3px); @include box-shadow(0 0 1px #ccc); }
}