@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables
$carousel-font-size: 12px;
$carousel-line-height: 12px;

// required styles
.carousel {
	position:relative; z-index:100;

	.wrapper { position:relative; z-index:100; width:100%; overflow:hidden; }

	.viewport { position:absolute; left:0; top:0; @include clearfix(); height:auto;
		list-style-type:none; padding:0; margin:0; width:9999em; }
	.viewport li { float:left; padding:0; margin:0; }

	.trigger-next, .trigger-previous { padding:0; margin:0; }

	.disabled { display:none !important; }
}

// custom styles
.carousel {
	margin:0 0 20px;

	.trigger-next, .trigger-previous { position:absolute; top:50%; z-index:101;
		font-size:$carousel-font-size; line-height:$carousel-line-height;
		margin-top:-10px; background:rgba(black, 0.6); }
	.trigger-next { right:0; }
	.trigger-previous { left:0; }
	.trigger-next a, .trigger-previous a { display:none; float:left; padding:4px;
		&:hover { color:white;} }

	.wrapper { min-height:100px; } // only for nojs

	.viewport li { width:105px; text-align:center; padding:5px; margin-right:10px; background:white;
		@include border-radius(3px); @include box-shadow(0 0 1px #ccc); }

	nav { text-align:center; padding-top:15px; }
	nav a { font-size:11px; line-height:11px; padding:2px 6px 3px 6px;
		@include inline-block(); display:none; @include border-radius(10px); border:1px solid #e5e5e5; background:#fff; }
	nav a:hover { background:#f9f9f9; }
	nav .active { color:#fff !important; border-color:#39c !important; background:#39c !important; }
}