/* @import url(https://fonts.googleapis.com/css?family=Lato:300,700); */

body { color:#777; font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300; margin:0; background:#2f3236; }

h1, h2, h3, h4, h5, h6 { color:#222; margin:0 0 10px; }
p, ul, ol, table, pre, dl { margin:0 0 10px; }
h1, h2, h3 { line-height:1.1; }

h1 { font-size:28px; font-weight:300; margin:0 0 20px; }
h2 { color:#393939; }
h3, h4, h5, h6 { color:#494949; }
h4 { margin:0 0 5px; }

a { color:#39c; font-weight:400; text-decoration:none; }
a:hover { color:#000; }
a small { font-size:11px; color:#777; margin-top:-0.6em; display:block; }
blockquote { font-style:italic; padding:0 0 0 20px; margin:0; border-left:1px solid #e5e5e5; }
code, pre { font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, serif;
	color:#333; font-size:12px; }
pre { padding:8px 15px; border-radius:5px; border:1px solid #e5e5e5; background: #f8f8f8; }
code { font-size:11px; padding:1px 4px; margin:0 0 4px; display:inline-block; border-radius:3px;
	border:1px solid #e5e5e5; background:#fff; }

a code { color:#39c; }
a:hover code { color:#000; }

table { width:100%; border-collapse:collapse; }
th, td { text-align:left; padding:5px 0; border-bottom:1px solid #e5e5e5; }

dt { color:#444; font-weight:700; }
th { color:#444; }
img { max-width:100%; }

strong { color:#222; font-weight:400; }
small { font-size:11px; }

hr { height:1px; margin:10px 0;
	border:0; background:#e5e5e5; }

/* HELPERS */
.clear { clear: both; display: block; overflow: hidden; }
.nospace { margin:0; }
.align-right { text-align:right; }
.spacer { height:15px; margin:0; overflow:hidden; }
.nowrap { white-space:nowrap; }

/* CUSTOM */
header { background:#0f3e62; clear:both; overflow:hidden; }
header h1 { display:block; color:#fff; text-shadow:0 1px 0 #000;
	padding:30px 0 35px; margin:0 auto; position:relative; left:-8px; }
section { background:#f4f4f4 url('img/bg.png'); }
section .inner { padding:30px 0 20px; margin:0 auto; }
footer { background:#2f3236; }
footer p { font-size:12px; color:#bfbfbf; text-align:center; padding:10px 0; margin:0; }

form fieldset { padding:8px 12px; margin:0 0 10px; background:#fff; border:1px solid #e5e5e5; border-radius:3px; }
form label { cursor:pointer; font-size:13px; }

.logo { font-size:28px; font-weight:300; padding:0 8px 4px; margin-right:8px; color:#666; border-radius:3px;
	text-shadow:0 1px 0 #eee; background:#fff; }
.logo .dot { color:#39c; }
.logo .ext { color:#000; }
.logo:hover { text-shadow:0 1px 0 #fff; background:#f5f5f5; }

.box { float:left; padding:5px; margin:0 10px 10px 0; line-height:0; width:105px;
	border-radius:3px; box-shadow: 0 0 1px #ccc; background:#fff; }
.box span { display:block; font-size:12px; line-height:12px; padding:5px 2px 2px; }
.box .strong { color:#444; }
.box:hover { background:#39c; -webkit-transition:background 500ms; }
.box:hover span { color:#fff; }

.linklist a { display:inline-block; width:150px; }

/* RESPONSIVE */
header h1, section .inner { padding-left:20px; padding-right:20px; }

@media screen and (min-width: 540px) {
	header h1, section .inner { width:500px; padding-left:0; padding-right:0; }

	.col-two { float:left; width:48%; padding-right:2%; }
	.col-last { padding:0 0 0 2%; }
}



