@mixin plugin-gallery() {
//######################################################################################################################
// #gallery#

.gallery {
	margin: 0 0 20px 0;
	.wrapper { position: relative; height: 289px; margin: 0 0 10px 0; overflow: hidden; }
	.viewport {
		position: absolute; top: 0; right: 0; left: 0;
		a { display: block; display: none; position: absolute; top: 0; right: 0; left: 0; }
		a img { display: block; max-width: 100%; max-height: 100%; margin: 0 auto;  }
		a.active { display: block; }
	}
	.trigger-left, .trigger-right {
		position: absolute; top: 50%; margin-top: -13px;
		a {
			display: block; width: 20px; height: 26px; background-position: 50% 50%; background-repeat: no-repeat;
			@include hide-text(); @include opacity(0.5);
			&:hover, &:active, &:focus { @include opacity(1); }
		}
	}
	.trigger-left { left: 10px; }
	.trigger-right { right: 10px; }
	.trigger-left a { background-image: url('../img/arrow_left.png'); }
	.trigger-right a { background-image: url('../img/arrow_right.png'); }
	nav a {
		@include inline-block();  padding: 5px; width: 45px; height: 45px; margin: 0 8px 8px 0; background: $white;
		border: 3px solid $color-product-border;
		img { display: block; max-width: 100%; max-height: 100%; }
		&.active, &:hover, &:focus { border-color: $color-product-border-active; }
	}
}

// end of mixin
}

@mixin plugin-gallery-tablet() {
//######################################################################################################################
// #gallery#

.gallery {
	.wrapper { height: 289px; }
	nav a {
		&.last { margin-right: 0; margin-left: 1px; }
	}
}

// end of mixin
}

@mixin plugin-gallery-desktop() {
//######################################################################################################################
// #gallery#

.gallery {
	.wrapper { height: 380px; }
	nav a {
		width: 60px; height: 60px; margin: 0 16px 16px 0;
		&.last { margin-left: 0; }
	}
}

// end of mixin
}