<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}{% if page.is_root %} - class based inheritance{% endif %}</title>
	<link rel="icon" href="{{ site.baseurl }}/examples/static/favicon.png">
	<link rel="stylesheet" href="{{ site.baseurl }}/examples/static/css/base.css">
	<script src="{{ site.baseurl }}/examples/static/js/base.js"></script>
	{% if not page.is_root %}
	<!-- required files -->
	<script src="{{ site.baseurl }}/src/cl.{{ page.title }}/cl.{{ page.title }}.js"></script>
	<link rel="stylesheet" href="cl.{{ page.title }}.css" />
	{% endif %}
</head>
<body>

<header>
	<h1><a href="." class="logo">class<span class="dot">.</span><span class="ext">js</span></a> {% if page.title %}{{ page.title }}{% else %}class based inheritance{% endif %}</h1>
</header>

<section>
	<div class="inner">
		{{ content }}
	</div>
</section>

<footer><p>&copy; Divio AG. All rights reserved. Distributed under the BSD License.</p></footer>

</body>
</html>