@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 * @version     1.0.0
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables
$lightbox-font-size: 12px;
$lightbox-font-color: #999;
$lightbox-line-height: 15px;
$lightbox-background: #000;
$lightbox-content: #fff;

// required styles
.cl-lightbox { position:absolute; z-index:99999; }
.cl-lightbox-bay { position:absolute; left:-9999em; top:-99999em; width:9999em; height:9999em; }
.cl-lightbox-loader { position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:no-repeat center center; }
.cl-lightbox-description { display:none; }
.cl-lightbox-dim { position:absolute; z-index:99990; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }

// custom styles
.cl-lightbox { background-color:$lightbox-background; background:rgba(0, 0, 0, 0.6); @include border-radius(5px); }
.cl-lightbox-loader { background-image:url('../static/img/loader.gif'); }
.cl-lightbox-inner { padding:10px; }
.cl-lightbox-content { background:$lightbox-content; }
.cl-lightbox-error { width:350px; text-align:center; p { padding:15px 0; } }
.cl-lightbox-dim { @include opacity(0.7); background:$lightbox-background; }

// description
.cl-lightbox-description { font-size:$lightbox-font-size; line-height:$lightbox-line-height;
	padding:5px 10px; border-bottom:1px solid #ccc; background:$lightbox-content; }

// controls
.cl-lightbox-controls {
	font-size:$lightbox-font-size; line-height:$lightbox-line-height; color:$lightbox-font-color; overflow:hidden;
	background:$lightbox-content;

	p { padding:0; margin:0; }

	.cl-lightbox-close { position:absolute; right:-12px; top:-12px;
		a { float:right; width:30px; height:30px; @include hide-text();
			background:url('../static/img/icon-close.png') no-repeat left top;
			&:hover { background-position:left -30px; } }
	}

	.cl-lightbox-navigation {
		a { display:none; position:absolute; top:43%; color:white; padding:5px 10px;
			background-color:$lightbox-background; background:rgba(0, 0, 0, 0.5);
			&:hover { background:$lightbox-background; } }

		.cl-lightbox-previous { left:10px; @include border-radius(0 3px 3px 0); }
		.cl-lightbox-next { right:10px; @include border-radius(3px 0 0 3px); }
	}

	.cl-lightbox-text {
		float:right; padding:5px 10px; clear:both; overflow:hidden;

		a { float:left; color:$lightbox-font-color; }
		.cl-lightbox-status { float:left; color:$lightbox-font-color; margin:0 10px 0 0; }
		.cl-lightbox-previous { margin:0;
			&:hover { background-position:left -15px; } }
		.cl-lightbox-next { margin:0 0 0 10px;
			&:hover { background-position:right -15px; } }
	}

}
.ie7 .cl-lightbox-controls { @include opacity(0.8); }