@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables
$lightbox-font-size: 12px;
$lightbox-line-height: 15px;
$lightbox-padding: 10px;
$lightbox-alpha: 0.6;
$lightbox-bg: #000;
$lightbox-dim: #000;
$lightbox-content: #fff;

// required styles
.cl-lightbox { position:absolute; z-index:99999; }
.cl-lightbox-bay { position:absolute; z-index:1; left:-9999em; top:-99999em; width:9999em; height:9999em; }
.cl-lightbox-inner { position:relative; z-index:100; }
.cl-lightbox-loader { position:absolute; z-index:102; left:0; top:0; width:100%; height:100%; background:no-repeat center center; }
.cl-lightbox-content { position:relative; z-index:101; overflow:hidden; }
.cl-lightbox-content img { max-width:100%; }
.cl-lightbox-content iframe { width:100%; height:100%; }
.cl-lightbox-description { display:none; }
.cl-lightbox-navigation a { display:none; }
.cl-lightbox-controls { overflow:hidden; }
.cl-lightbox-dim { display:none; position:absolute; z-index:99990; left:0; top:0; width:100%; height:100%;
	opacity:inherit; filter:inherit; }

// custom styles
.cl-lightbox { background-color:$lightbox-bg; background:rgba($lightbox-bg, $lightbox-alpha); @include border-radius(5px);
	margin-left:-$lightbox-padding; margin-top:-$lightbox-padding; }
.cl-lightbox-loader { background-image:url('../static/img/loader.gif'); }
.cl-lightbox-inner { padding:$lightbox-padding; }
.cl-lightbox-content { background:$lightbox-content; }
.cl-lightbox-error { text-align:center; width:350px; p { padding:15px 0; } }
.cl-lightbox-dim { background:$lightbox-dim; }

// scrollbar styling for mobile
.cl-lightbox-content {
	&::-webkit-scrollbar { width:15px; background:#fafafa; }
	&::-webkit-scrollbar-thumb { border-radius:10px; border:4px solid #fafafa; background:#c1c1c1; }
}

// description
.cl-lightbox-description { font-size:$lightbox-font-size; line-height:$lightbox-line-height;
	padding:5px 10px; border-bottom:1px solid lighten($lightbox-bg, 80%); background:$lightbox-content; }

// controls
.cl-lightbox-controls {
	font-size:$lightbox-font-size; line-height:$lightbox-line-height; background:$lightbox-content;

	p { padding:0; margin:0; }

	.cl-lightbox-close { position:absolute; right:-10px; top:-10px; z-index:105;
		a { float:right; width:30px; height:30px; @include hide-text();
			background:url('../static/img/icon-close.png') no-repeat left top;
			&:hover { background-position:left -30px; } }
	}

	.cl-lightbox-navigation {
		a { position:absolute; top:43%; z-index:105; color:white; padding:5px 10px;
			background-color:$lightbox-bg; background:rgba($lightbox-bg, $lightbox-alpha);
			&:hover { background:$lightbox-bg; } }

		.cl-lightbox-previous { left:10px; @include border-radius(0 3px 3px 0); }
		.cl-lightbox-next { right:10px; @include border-radius(3px 0 0 3px); }
	}

	.cl-lightbox-text {
		float:right; padding:5px 10px; clear:both; overflow:hidden;

		a { float:left; }
		.cl-lightbox-status { float:left; margin:0 10px 0 0; }
		.cl-lightbox-previous { margin:0;
			&:hover { background-position:left -15px; } }
		.cl-lightbox-next { margin:0 0 0 10px;
			&:hover { background-position:right -15px; } }
	}
}