@charset "utf-8";
/*
 * @author      Angelo Dini
 * @version     1.0 Beta 1
 * @copyright	Distributed under the BSD License.
 * @requires:	class.js, jQuery
 */
.cl_lightbox {
  position: absolute;
  z-index: 99999;
}

.cl_lightbox-bay {
  position: absolute;
  left: -9999px;
  top: -99999px;
  width: 9999px;
  height: 9999px;
}

.cl_lightbox {
  background-color: #000;
  background: rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.cl_lb-inner {
  padding: 10px;
}

.cl_lb-content {
  background: #fff;
}

.cl_lb-content .cl_lb-loader {
  width: 100%;
  height: 100%;
}

.cl_lb-error {
  width: 350px;
  text-align: center;
}

.cl_lb-error p {
  padding: 15px 0;
}

.cl_lb-description {
  display: none;
}

.cl_lb-controls {
  background: #fff;
  overflow: hidden;
}

.cl_lb-controls p {
  padding: 0;
  margin: 0;
}

.cl_lb-controls .cl_lb-close {
  position: absolute;
  right: -12px;
  top: -12px;
}

.cl_lb-controls .cl_lb-close a {
  float: right;
  width: 30px;
  height: 30px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.cl_lb-controls .cl_lb-close a:hover {
  background-position: left -30px;
}

.cl_lb-controls .cl_lb-navigation a {
  display: none;
  position: absolute;
  top: 43%;
  color: #fff;
  padding: 5px 10px;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
}

.ie7 .cl_lb-controls, .ie7 .cl_lb-controls {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.cl_lb-controls .cl_lb-navigation .cl_lb-next {
  right: 10px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.cl_lb-controls .cl_lb-navigation .cl_lb-previous {
  left: 10px;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.cl_lb-controls .cl_lb-navigation a:hover {
  background: #000;
}

.cl_lb-controls .cl_lb-text {
  padding: 10px 10px;
  line-height: 15px;
  clear: both;
  overflow: hidden;
}

.cl_lb-controls .cl_lb-text .cl_lb-status {
  float: right;
  font-size: 12px;
  color: #999;
}

.cl_lb-controls .cl_lb-text a {
  float: right;
  font-size: 12px;
  color: #000;
}

.cl_lb-controls .cl_lb-text .cl_lb-next {
  padding-right: 20px;
  margin-left: 10px;
}

.cl_lb-controls .cl_lb-text .cl_lb-previous {
  padding-left: 20px;
  margin-left: 10px;
}

.cl_lb-controls .cl_lb-text .cl_lb-next:hover {
  background-position: right -15px;
  color: #f50;
}

.cl_lb-controls .cl_lb-text .cl_lb-previous:hover {
  background-position: left -15px;
  color: #f50;
}
