@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */
.uniform {
  cursor: pointer;
}

.uniform-checkbox, .uniform-radio,
.uniform-file, .uniform-select {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

.uniform input,
.uniform select {
  position: absolute;
  z-index: 100;
}

.uniform-radio > span, .uniform-checkbox > span {
  position: relative;
}

.uniform-radio, .uniform-checkbox {
  line-height: 0;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.uniform-radio > span, .uniform-checkbox > span {
  display: block;
  margin: 3px 0 0 3px;
  width: 6px;
  height: 6px;
  background: #39c;
}

.uniform-radio {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.uniform-radio span {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.uniform-file {
  clear: both;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.uniform-file-btn {
  float: right;
  font-size: 11px;
  line-height: 11px;
  cursor: pointer;
  color: white;
  padding: 3px 5px 4px;
  background: #39c;
}

.uniform-file-btn:hover {
  color: #fff;
  background: #666;
}

.uniform-file-status {
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 0 0 4px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
}

.uniform-select {
  border: 1px solid #e5e5e5;
  padding-bottom: 3px !important;
}

.uniform-select-status {
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 0 0 6px;
}

.uniform-select-arrow {
  float: right;
  width: 15px;
  height: 15px;
  margin: 3px 8px 0 0;
  background: url("../static/img/arrow-down.png") no-repeat right center;
}

.uniform-disabled, .uniform-disabled select {
  opacity: 0.5;
  cursor: not-allowed;
}

.uniform-focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.uniform-radio:hover, .uniform-checkbox:hover,
.uniform-file:hover, .uniform-select:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 0 3px #e5e5e5;
  -moz-box-shadow: 0 0 3px #e5e5e5;
  box-shadow: 0 0 3px #e5e5e5;
  -webkit-transition: border, 200ms;
  -moz-transition: border, 200ms;
  -o-transition: border, 200ms;
  transition: border, 200ms;
}
