@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables

// required style
.uniform-checkbox, .uniform-radio,
.uniform-file, .uniform-select { position:relative; @include inline-block(); overflow:hidden; cursor:pointer; }
.uniform-checkbox *, .uniform-radio *, .uniform-file *, .uniform-select * { position:relative; left:0; }
.uniform-checkbox input, .uniform-radio input, .uniform-file input, .uniform-select select { position:absolute; }
.uniform-select .uniform-input { z-index:100; }

// custom
.uniform-radio, .uniform-checkbox { line-height:0; width:12px; height:12px;
	@include border-radius(2px); border:1px solid #e5e5e5; }
.uniform-radio > span, .uniform-checkbox > span { display:block; margin:3px 0 0 3px;
	width:6px; height:6px; background:#39c; }
.uniform-radio { @include border-radius(100%); }
.uniform-radio span { @include border-radius(100%); }

.uniform-file { clear:both; overflow:hidden; border:1px solid #e5e5e5; }
.uniform-file-btn { float:right; font-size:11px; line-height:11px; cursor:pointer; color:white;
	padding:3px 5px 4px; background:#39c; }
.uniform-file-btn:hover { color:#fff; background:#666; }
.uniform-file-status { float:left; font-size:12px; line-height:12px; padding:4px 0 0 4px;
	max-width:70%; white-space:nowrap; overflow:hidden; }

.uniform-select { border:1px solid #e5e5e5; }
.uniform-select-status { float:left; font-size:11px; line-height:11px; padding:3px 0 0 4px; }
.uniform-select-arrow { float:right; width:15px; height:15px; margin:1px 5px 0 0;
	background:url('../static/img/arrow-down.png') no-repeat right center; }

// states
.uniform-disabled { opacity:0.5; }
.uniform-focus { outline:1px solid black; outline:-webkit-focus-ring-color auto 5px; }

.uniform-radio:hover, .uniform-checkbox:hover,
.uniform-file:hover, .uniform-select:hover { border-color:#ccc; @include box-shadow(0 0 3px #e5e5e5);
	@include transition(border, 200ms); }
