@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright   Distributed under the BSD License.
 */

// sass imports
@import "compass/css3";
@import "compass/utilities";

// variables

// required style
.uniform { cursor:pointer; }

.uniform-checkbox, .uniform-radio,
.uniform-file, .uniform-select { position:relative; @include inline-block(); cursor:pointer; }

.uniform input,
.uniform select { position:absolute; z-index:100; }

.uniform-radio > span, .uniform-checkbox > span { position:relative; }

// hide blinking cursor on focused radio buttons and checkboxes
.uniform-checkbox input,
.uniform-radio input {
    text-indent: -9999em;
}

// custom radio and checks
.uniform-radio, .uniform-checkbox { line-height:0; width:12px; height:12px;
    @include border-radius(2px); border:1px solid #e5e5e5; }
.uniform-radio > span, .uniform-checkbox > span { display:block; margin:3px 0 0 3px;
    width:6px; height:6px; background:#39c; }

// custom radio
.uniform-radio { @include border-radius(100%); }
.uniform-radio span { @include border-radius(100%); }

// custom file
.uniform-file { clear:both; overflow:hidden; border:1px solid #e5e5e5; }
.uniform-file-btn { float:right; font-size:11px; line-height:11px; cursor:pointer; color:white;
    padding:3px 5px 4px; background:#39c; }
.uniform-file-btn:hover { color:#fff; background:#666; }
.uniform-file-status { float:left; font-size:12px; line-height:12px; padding:4px 0 0 4px;
    max-width:70%; white-space:nowrap; overflow:hidden; }

// custom select
.uniform-select { border:1px solid #e5e5e5; padding-bottom:3px !important; }
.uniform-select-status { float:left; font-size:12px; line-height:12px; padding:5px 0 0 6px; }
.uniform-select-arrow { float:right; width:15px; height:15px; margin:3px 8px 0 0;
    background:url('../static/img/arrow-down.png') no-repeat right center; }

// states
.uniform-disabled, .uniform-disabled select { opacity:0.5; cursor:not-allowed; }
.uniform-focus { outline:-webkit-focus-ring-color auto 5px; }

.uniform-radio:hover, .uniform-checkbox:hover,
.uniform-file:hover, .uniform-select:hover { border-color:#ccc; @include box-shadow(0 0 3px #e5e5e5);
    @include transition(border, 200ms); }